<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPersonas()" [disabled]="!selectedPersonas || !selectedPersonas.length"></button>
        </ng-template>

        <!--<ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block"></p-fileUpload>
            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
        </ng-template>-->
    </p-toolbar>

    <p-table #dt [value]="personas" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
        [(selection)]="selectedPersonas" [rowHover]="true" dataKey="dni"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h5 class="p-m-0">Manage Products</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="name">dni <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="price">nombre <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="category">foto <p-sortIcon field="category"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-persona>
            <tr>
                <td>
                    <p-tableCheckbox [value]="persona"></p-tableCheckbox>
                </td>
                <td>{{persona.dni}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.foto}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editPersona(persona)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePersona(persona)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{personas ? personas.length : 0 }} products.
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">dni</label>
            <input type="text" pInputText id="name" [(ngModel)]="persona.dni" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !persona.dni">dni obligatorio</small>
        </div>
        <div class="p-field">
            <label for="description">nombre</label>
            <input id="description" pInputText [(ngModel)]="persona.nombre" required rows="3" cols="20" />
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="price">foto</label>
                <p-inputNumber id="price" [(ngModel)]="persona.foto" mode="currency" currency="USD" locale="en-US"></p-inputNumber>
            </div>
        </div>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="savePersona()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>